[Desktop Entry]
Encoding=UTF-8
Name=AVeBe v3.0
Comment=Auto Visitor Blog by shutdown57
Exec=avebe
Terminal=true
Type=Application
Icon=/opt/avb/avb.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/pn$
